/*general styles*/
*{
  box-sizing: border-box;
}

::selection {
  background-color: #fff;
}

h1::selection {
  color: #565656;
}

a {
  color: #565656;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.bg-black {
  background-color: #000000;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
  color: #565656;

}

.section {
  z-index: 10;
  padding: 2rem;
  background-color: #181818;
}

.section-b{
  background-color: red;
  z-index: 0;
}



/*end general styles*/

/*Background gradients*/

.murdered-out-black-gradient {
  background: -webkit-linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
  background: linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
}

.classy-subtle-dark-gray-gradient {
  background: -webkit-linear-gradient(360deg, #383836 10%, #4a4a4a 360%);
  background: linear-gradient(360deg, #383836 10%, #4a4a4a 360%);
}

.black-chrome-gradient {
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}

.custom-background-gradient {
  background: -webkit-linear-gradient(360deg, #181818, transparent),
  -webkit-linear-gradient(#0F0300, #000000);
  background: -moz-linear-gradient(360deg, #181818, transparent),
  -moz-linear-gradient(#0F0300, #000000);
  background: linear-gradient(#181818, transparent),
  linear-gradient(#0F0300, #000000);
}

/*End background styles*/


/*Layout styles*/

main {
  min-height: 100vh;
  /*background: linear-gradient(#181818, transparent),*/
  /*  !*linear-gradient(#161616, transparent),*! linear-gradient(#0F0300, #000000);*/
  padding-top: 5rem;
}

.grid-wrapper {
  display: grid;
  max-width: 80%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(5rem, auto);
}

.one {
  grid-column: 1 / -3;
  grid-row: 1;
  margin-top: 3rem;
  margin-left: 50%;
  width: 80%;
}

.two {
  grid-column: 2 / 7;
  grid-row: 1 / 3;
  margin-right: 20%;
  background-image: url("/public/images/Photo 01.11.19, 10 42 48.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  grid-column: 1 / 4;
  grid-row: 3;
}
.four {
  grid-column: 1;
  grid-row: 4;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

/*End layout styles*/

/*navigation bar*/

#navbar {
  background-color: #000000;
  position: fixed; /* Make it stick/fixed */
  top: -5rem; /* Hide the navbar 50 px outside of the top view */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/*end navigation bar*/

/*header styles*/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.v-header p {
  color: #565656;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#181818;
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

/* End header styles */

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}